.page {

    width: 100wh;
   
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    
}

.products {

    width: 100%;
    overflow: hidden;
    padding: 3%;
}

.productList {

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20x;
  list-style: none;

  li {
      display: flex;
      flex-direction: column;
      background-color: #fff;
      border-radius: 4px;
      padding: 20px;      

      img {
          align-self: center;
          max-width: 250px;
          max-height: 250px;
      }

      > strong {

          font-size: 16px;
          line-height: 20px;
          color: #333;
          margin-top: 5px;
      }

      > span {
          font-size: 21px;
          font-weight: bold;
          margin: 5px 0 20px;
        }
    
        button {
          background: #13ce22;
          color: #fff;
          border: 0;
          border-radius: 4px;
          overflow: hidden;
          margin-top: auto;
    
          display: flex;
          align-items: center;
          transition: background 0.2s;

          div {
              display: flex;
              align-items: center;
              padding: 12px;
              background: rgba(0, 0, 0, 0.1);
      
              svg {
                margin-right: 5px;
              }
            }
      
            span {
              flex: 1;
              text-align: center;
              font-weight: bold;
            }
        }
  }
}

@media (max-width: 1001px) {

  .productList {
      grid-template-columns: repeat(2, 1fr);
  }

}

@media (max-width: 785px) {

  .productList {
      grid-template-columns: 1fr;
  }

}

@media (max-width: 375px) {

  .productList {
      padding: 0;
  }

}

